@import url('../../appStyling.css');

.main_wrapper_journey {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_wrapper_journey_dark {
    background-color: var(--dark-mode-color);
}

.main_wrapper_journey_light {
    background-color: var(--light-mode-color);
}

.my_journey_main_section {
    flex: 1; /* or height: 100%; */
    overflow-y: auto;
}

.my_journey_main_section_dark {
    background-color: var(--dark-mode-color);
}

.my_journey_main_section_light {
    background-color: var(--light-mode-color);
}

.big_letter_section {
    width: 50%; 
    margin: auto auto auto auto;
    color: #EEEEEE;
    padding-top: 5rem;
    text-align: center;
}

.first_about_me_my_journey_p {
    padding-top: 1.5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 2rem;
}

@media (max-width: 800px) {
    .first_about_me_my_journey_p {
        width: 80%;
        padding-bottom: 2rem;
    }
}
